{% extends "core/base.jinja2" %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-6 offset-lg-3">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mirod@mac.com</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>garland@outlook.com</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>terjesa@sbcglobal.net</td>
                </tr>
              </tbody>
            </table>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content %}