{% extends "core/base.jinja2" %}
{% block content %}
  <!-- Page Content -->
  <div id="detail">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <a href="#"><img class="card-img-top" src="/static/img/dummy.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                    <a href="#">title</a>
                </h4>
                <h5>100 ₽</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-light btn-lg btn-block">Buy</a>
              </div>
            </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
{% endblock content %}