{% extends "core/base.jinja2" %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Doors</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="doors-list">

          <div class="row">

            {% for door in doors %}
              {% include "doors/door.jinja2"%}
            {% endfor %}

          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content %}
