{% extends "core/base.jinja2" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="add-door" class="col-md-6 offset-md-3">
        <form method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="price">Цена</label>
            <input type="number", min="0" step="0.01" name="price" class="form-control" id="price" required>
          </div>
          <div class="form-group">
            <label for="name">Название</label>
            <input type="text" name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="category">Категория</label>
            <input type="text" name="category" value="{{ category.name }}" class="form-control" id="category" readonly required>
          </div>
          <div class="form-group">
            <label for="subcategory">Подкатегория</label>
            <select class="form-control" name="subcategory" id="subcategory" required>
              {% for subcategory in category.subcategories %}
                <option>{{ subcategory }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="manufacturer">Производитель</label>
            <input type="text" name="manufacturer" class="form-control" id="manufacturer" required>
          </div>
          <div class="form-group">
            <label for="frame_material">Каркас полотна</label>
            <input type="text" name="frame_material" class="form-control" id="frame_material" required>
          </div>
          <div class="form-group">
            <label for="cover_material">Отделка</label>
            <input type="text" name="cover_material" class="form-control" id="cover_material" required>
          </div>
          <div class="form-group">
            <label for="measurements">Размеры</label>
            <input type="text" name="measurements" class="form-control" id="measurements" required>
          </div>
          <div class="form-group">
            <label for="thickness">Толщина полотна (мм)</label>
            <input type="text" name="thickness" class="form-control" id="thickness" required>
          </div>
          <div class="form-group">
            <label for="packing">Упаковка</label>
            <input type="text" name="packing" class="form-control" id="packing" required>
          </div>
          <div class="form-group">
            <label for="images">Изображения</label>
            <input type="file" name="images" class="form-control-file" id="images" multiple required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}